<!--
  Generated template for the CreateItemTemplatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label>Select template type</ion-label>
    <ion-select [(ngModel)]="itemTemplateModel.templateType" (ionChange)="_handleTemplateTypeChange($event)">
      <ion-option *ngFor="let item of templateTypes" value="{{item.value}}">{{item.title}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <ion-title>{{cardUI.title}}</ion-title>

    <ion-item>
      <ion-label>{{cardUI.itemType}}</ion-label>
      <ion-select [(ngModel)]="itemTemplateModel.itemType">
        <ion-option *ngFor="let item of cardUI.itemTypes" value="{{item.value}}">{{item.title}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="itemTemplateModel.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="itemTemplateModel.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Material Type</ion-label>
      <ion-select [(ngModel)]="itemTemplateModel.materialType">
        <ion-option *ngFor="let item of cardUI.materialTypes" value="{{item.value}}">{{item.title}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{cardUI.valueLabel}}</ion-label>
      <ion-input type="number" [(ngModel)]="itemTemplateModel.value"></ion-input>
    </ion-item>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-10 [attr.hidden]="isAddAnotherHidden">
        <ion-item>
          <ion-label>Add another?</ion-label>
          <ion-checkbox [(ngModel)]="addAnother"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <button ion-button (click)="_handleSave($event)">Save</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
